.contact-section {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #fdcc1b;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #fdcc1b 20%, #fdcc1b 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fdcc1b 20%, #fdcc1b 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#ecb900 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #ecb900 2px, #fdcc1b 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.contact-content {
  margin-top: 100px;
}

.contact-header {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.contact-slogan {
  max-width: 1000px;
  font-size: 3rem;
}

.contact-button {
  color: #000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 15px 30px;
  border-radius: 30px;
}

.contact-button p {
  text-wrap: nowrap;
  font-size: .9rem;
  margin-right: 20px;
}

.contact-socials {
  display: flex;
  padding-bottom: 150px;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.contact-info .font-3 {
  font-size: 1.1rem;
  padding-top: 30px;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.contact-links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 150px;
}

.contact-link {
  margin-top: 30px;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-link img {
  height: 15px;
}

.copyright {
  font-weight: 500;
  margin-top: 20px;
}

.explore {
  display: flex;
  align-items: center;
}

.explore a {
  margin-right: 20px;
}
